@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    padding: 70px 200px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
header {
    background-color: #3F97D9;
    border-radius: 20px;
    height: 85px;
    color: #ffffff;
    padding: 10px 20px;
    width: 104%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 90px;
}

.caixa01 {
    background-color: white;
    border-radius: 20px;
    color: #3F97D9;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 18px 10px;
}
#fonte01 {
    font-family: "Gruppo", sans-serif;
    font-size: 48px;
}
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
div {
    background-color: #71B3E4;
    border-radius: 20px;
    color: #3F3C3C;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 50px;

}
#introducao {
    background-color: #71B3E4;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    display: flex;
    gap: 30px;
}
#introducao img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#introducao2 {
    background-color: #87D9C7;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    display: flex;
    gap: 30px;
}

#introducao2 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#introducao3 {
    background-color: #87D9C7;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    display: flex;
    gap: 30px;
}
#introducao3 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#introducao4 {
    background-color: #87D9C7;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    display: flex;
    gap: 30px;
}
#introducao4 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
h1 {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 48px;
}
footer {
    background-color: #71B3E4;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding: 30px 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
}
